{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>Home - Beyond the Headlines</title>
    {% endif %}
    
</head>

<body>
    <!-- {% if news %}
    <li> {{ news }}</li>
    {% else %}
    <li> no news</li>
    {% endif %}
    <ul>
        {% for news in news_list%} 
        <li>{{ news.title}}</li>
        {% endfor %}
    </ul>-->
    <h1>HEADLINES</h1>
    <ul>
        {{ macro.displayNewsList(news)}}
    </ul>

    <!-- <div class="message">
        <h1>{{message}}</h1>
    </div>
   
    <h1>Hello{{id}}</h1> -->

</body>
</html>
<style>
    .message {
        font-style: Italic;
        color: black;
    }
    
</style>


